body {
    display: flex;
    flex: 1;
    background-color:  rgb(238, 238, 255);
    justify-content: center;
    align-items: center;
}

.title {
    background-color: rgb(51, 0, 88);
    color: rgb(238, 238, 255);
}